.Sidebar {
  width: 250px;
  background-color: #060930;
}

.SidebarList {
  height: auto;
  padding: 0;
  width: 100%;
  margin: 0;
}

.SidebarList .row {
  width: 100%;
  height: 50px;
  background-color: #060930;
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  display: flex;
  flex-direction: row;
  color: whitesmoke;
  font-weight: 400;
  justify-content: center;
  align-items: center;
}

.SidebarList .row:hover {
  cursor: pointer;
  background-color: #2f315a;
}

.SidebarList .active {
  border-right: 5px solid #E84545;
  transform: translateX(-5px);
  background-color: #2f315a;
}

.row #icon {
  flex: 30%;
  display: grid;
  place-items: center;
}

.row #title {
  flex: 70%;
  text-decoration: none;
}

.brand {
  height: 160px; 
  width: 100%;
  margin: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  color: white;
  font-family: 'Zen Tokyo Zoo', cursive;
}